{% extends "base.html" %}

{% if robots is not defined %}{% set robots = "noindex" %}{% endif %}

{% if TAGS_METADESCRIPTION is defined %}
  {% set metadescription = TAGS_METADESCRIPTION %}
{% else %}
  {% set metadescription = "List of all tags on this site." %}
{% endif %}

{% block title %}Tags - {{ super() }}{% endblock %}

{% block content_title %}Tags{% endblock %}

{% block content %}
  <ul>
    {% for tag, articles in tags %}
      <li style="list-style-type: none; margin-left: 0; padding-left: 0;">
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        <span>
          &middot;
          {% if articles|count == 1 %}
            1 post
          {% else %}
            {{ articles|count }} posts
          {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
